<!DOCTYPE html>
<html lang="zh-CN">
    {% load static %}
    <head>
        <title>注册</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url({% static "images/bg-01.jpg" %});">
                        <span class="login100-form-title-1">注 册</span>
                    </div>

                    <form class="login100-form validate-form" method="post">
                        {% csrf_token %}
                        <div class="wrap-input100 validate-input m-b-26" data-validate="用户名不能为空">
                            <span class="label-input100">用户名</span>
                            <input class="input100" type="text" name="username" id="username" placeholder="请输入用户名" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="密码不能为空">
                            <span class="label-input100">密码</span>
                            <input class="input100" type="password" name="password" id="password" placeholder="请输入密码" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30" disabled="">
                            <div class="contact100-form-checkbox">

                            </div>
                            <div>
                                <a href="login/" class="txt1">登录</a>
                            </div>

                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">注册</button>
                        </div>

                        {% if error %}
                            <p style="color: red;">{{ error }}</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </body>

    <footer class="footer-position">

    </footer>

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</html>